<header class="site-header">
  <div class="container">
    <h1 class="brand">Seely Series</h1>
    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>

      <!-- ถ้ายังไม่ login -->
      <ng-container *ngIf="!user; else loggedIn">
        <a href="javascript:void(0)" (click)="login()" class="login-link">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <a routerLink="/item-series/create" >Create Series</a>
        <span class="username" (click)="logout()" style="cursor: pointer;">
          👤 {{ user?.firstName || user?.username }}
        </span>
        <a href="javascript:void(0)" (click)="logout()" class="logout-link">Logout</a>
        
      </ng-template>
    </nav>
  </div>
</header>

<main class="site-main container">
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <div class="container">© Seely — The Best Series by DevPool68-505985</div>
</footer>
