<header class="site-header">
  <div class="container">
    <h1 class="brand">Seely Series</h1>
    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>

      <!-- ปุ่ม login/logout -->
      <ng-container *ngIf="!user; else loggedIn">
        <a [href]="loginUrl">Login</a>
      </ng-container>
      <ng-template #loggedIn>
        <span class="username">👤 {{ user?.username }}</span>
        <button *ngIf="user" routerLink="/item-series/create" class="btn-create">+ Create Series</button>
      </ng-template>
    </nav>
  </div>
</header>

<main class="site-main container">
  <router-outlet></router-outlet>
</main>

<footer class="site-footer">
  <div class="container">© Seely — The Best Series by DevPool68-505985</div>
</footer>
